In [47]:
import pandas as pd
import seaborn as sns
from sklearn import datasets
import matplotlib.pyplot as plt

In [113]:
df = pd.read_csv('/home/sam/Desktop/Codes/DataScience/datasets/USA_Housing.csv')
df.drop(['Address'], axis =1)

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05
...,...,...,...,...,...,...
4995,60567.944140,7.830362,6.137356,3.46,22837.361035,1.060194e+06
4996,78491.275435,6.999135,6.576763,4.02,25616.115489,1.482618e+06
4997,63390.686886,7.250591,4.805081,2.13,33266.145490,1.030730e+06
4998,68001.331235,5.534388,7.130144,5.44,42625.620156,1.198657e+06
4999,65510.581804,5.992305,6.792336,4.07,46501.283803,1.298950e+06

In [114]:
#preprocessing
x = df.iloc[:,:-2]
y = df['Price']

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state = 42)

In [115]:
from sklearn import linear_model
reg = linear_model.LinearRegression(normalize = True)
reg.fit(x_train, y_train)
prediction = reg.predict(x_test)

from sklearn import metrics
metrics.r2_score(prediction, y_test)

0.9072493645107087

In [116]:
from sklearn.linear_model import Lasso
reg = Lasso( precompute=True, warm_start=True, positive=True, selection='random',random_state=40)
reg.fit(x_train, y_train)
prediction = reg.predict(x_test)

from sklearn import metrics
metrics.r2_score(prediction, y_test)

0.9072507312905489

In [107]:
from sklearn.linear_model import Ridge
reg = Ridge(alpha=100, solver='cholesky', tol=0.0001, random_state=42)
reg.fit(x_train, y_train)
prediction = reg.predict(x_test)

from sklearn import metrics
metrics.r2_score(prediction, y_test)

0.9048627550379951

In [132]:
from sklearn.tree import DecisionTreeRegressor
tree = DecisionTreeRegressor(random_state = 42)
tree.fit(x_train, y_train)
prediction = tree.predict(x_test)

from sklearn import metrics
metrics.r2_score(prediction, y_test)

0.727771910689823

In [141]:
from sklearn.ensemble import RandomForestRegressor
tree = RandomForestRegressor(n_estimators = 100)
tree.fit(x_train, y_train)
prediction = tree.predict(x_test)

from sklearn import metrics
metrics.r2_score(prediction, y_test)

0.8492162215264887