### CrossValidation

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/home/sam/Desktop/samlab/codes/DataScience/datasets//Churn_Modelling.csv')

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
df.drop(['Surname', 'Geography', 'Gender', 'CustomerId', 'RowNumber'], axis =1, inplace = True)

In [5]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [10]:
from sklearn.model_selection import train_test_split
train_x, test_x, train_y, test_y = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [12]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(train_x, train_y)
r = model.score(test_x, test_y)
print(r)

0.7805

In [22]:
def get_score(method):
    from sklearn.model_selection import cross_val_score
    result = cross_val_score(model, x, y, cv=method)
    return result

In [25]:
# KFold
from sklearn.model_selection import KFold
kflod_validation = KFold(10)
result = get_score(kflod_validation)
print(result)
print(np.mean(result))

[0.768 0.775 0.76  0.774 0.793 0.764 0.78  0.798 0.775 0.777]
0.7764

In [29]:
# StratifiedKFold
from sklearn.model_selection import StratifiedKFold
sfold = StratifiedKFold(n_splits = 5)
result = get_score(sfold)
print(result)
print(np.mean(result))

[0.7755 0.792  0.784  0.7935 0.776 ]
0.7841999999999999

In [33]:
exited = df[df.Exited == 1]
non_exit = df[df.Exited == 0]
exited.shape

(2037, 9)

In [35]:
non_exit.shape

(7963, 9)